<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="BasePath" value="c:\temp3"/>
        <add key="ItemsPerFeed" value="10"/>
        <add key="GoogleAccount" value="josefwurzel1980@googlemail.com"/>
    </appSettings>
</configuration>
